* {
  box-sizing: border-box;
  font-family: "IM Fell English SC", serif;
  text-align: center;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/piratebackground1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  top: 40%;
  position: relative;
}

section,
header {
  height: 70vh;
  margin: 15vh;
}

header,
section,
#results {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

#results {
  position: relative;
  margin: 15vh;
}

div {
  font-size: 24px;
  position: relative;
  top: 20%;
  padding: 1vw 1vw 0 1vw;
}

button {
  padding: 10px 20px;
  font-size: 24px;
  margin: 20px;
  border: 2px solid black;
  background-color: transparent;
}

#submit {
  background-color: rgba(255, 255, 255, 0.8);
}

#submit:hover,
button:hover {
  background-color: white;
}

label {
  display: block;
}

.next {
  margin: auto;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
}

.next:active {
  color: black;
}

.next:hover {
  background-color: white;
}

.hidden {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  header,
  section {
    height: 30vh;
    margin: 10vh;
  }

  #results {
    margin: 10vh;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  div {
    font-size: 20px;
  }
  .next {
    font-size: 0.8em;
  }
  #submit {
    font-size: 1em;
  }
}
